<?xml version="1.0" encoding="UTF-8"?>

<!-- 
 ******************************************************************************
 * Copyright (c) 2011 Oracle
 * All rights reserved. This program and the accompanying materials
 * are made available under the terms of the Eclipse Public License v1.0
 * which accompanies this distribution, and is available at
 * http://www.eclipse.org/legal/epl-v10.html
 *
 * Contributors:
 *    Konstantin Komissarchik - initial implementation and ongoing maintenance
 *    Ling Hao - [344015] Insertion order lost if xsd includes another xsd
 ******************************************************************************
-->

<plugin>

  <extension point="org.eclipse.sapphire.modeling.extension"/>
  
  <extension point="org.eclipse.wst.xml.core.catalogContributions">
    <catalogContribution>
      <system
        systemId="http://www.eclipse.org/sapphire/tests/xml-binding/1.0"
        uri="schemas/XmlBindingTest.xsd"/>
    </catalogContribution>
    <catalogContribution>
      <system
        systemId="http://www.eclipse.org/sapphire/tests/xml/xsd/0001"
        uri="schemas/xml/xsd/0001a.xsd"/>
    </catalogContribution>
    <catalogContribution>
      <system
        systemId="http://www.eclipse.org/sapphire/tests/xml/xsd/0001/a"
        uri="schemas/xml/xsd/0001a.xsd"/>
    </catalogContribution>
    <catalogContribution>
      <system
        systemId="http://www.eclipse.org/sapphire/tests/xml/xsd/0001/b"
        uri="schemas/xml/xsd/0001b.xsd"/>
    </catalogContribution>
    <catalogContribution>
      <system
        systemId="http://www.eclipse.org/sapphire/tests/xml/xsd/0001/c"
        uri="schemas/xml/xsd/0001c.xsd"/>
    </catalogContribution>
    <catalogContribution>
      <system
        systemId="http://www.eclipse.org/sapphire/tests/xml/binding/0003/u"
        uri="schemas/xml/binding/0003u.xsd"/>
    </catalogContribution>
    <catalogContribution>
      <system
        systemId="http://www.eclipse.org/sapphire/tests/xml/binding/0003/v"
        uri="schemas/xml/binding/0003v.xsd"/>
    </catalogContribution>
    <catalogContribution>
      <system
        systemId="http://www.eclipse.org/sapphire/tests/xml/binding/0003/w"
        uri="schemas/xml/binding/0003w.xsd"/>
    </catalogContribution>
    <catalogContribution>
      <system
        systemId="http://www.eclipse.org/sapphire/tests/xml/binding/0003/x"
        uri="schemas/xml/binding/0003x.xsd"/>
    </catalogContribution>
    <catalogContribution>
      <system
        systemId="http://www.eclipse.org/sapphire/tests/xml/binding/0003/y"
        uri="schemas/xml/binding/0003y.xsd"/>
    </catalogContribution>
    <catalogContribution>
      <system
        systemId="http://www.eclipse.org/sapphire/tests/xml/binding/0003/z"
        uri="schemas/xml/binding/0003z.xsd"/>
    </catalogContribution>
    <catalogContribution>
      <system
        systemId="http://www.eclipse.org/sapphire/tests/xml/binding/0007/x"
        uri="schemas/xml/binding/0007x.xsd"/>
    </catalogContribution>
    <catalogContribution>
      <system
        systemId="http://www.eclipse.org/sapphire/tests/xml/binding/0007/y"
        uri="schemas/xml/binding/0007y.xsd"/>
    </catalogContribution>
    <catalogContribution>
      <system
        systemId="TestXmlDtd0003.dtd"
        uri="schemas/xml/dtd/0003.dtd"/>
    </catalogContribution>
  </extension>

</plugin>
