<?xml version="1.0" encoding="UTF-8"?>

<!-- 
 ******************************************************************************
 * Copyright (c) 2013 Oracle
 * All rights reserved. This program and the accompanying materials
 * are made available under the terms of the Eclipse Public License v1.0
 * which accompanies this distribution, and is available at
 * http://www.eclipse.org/legal/epl-v10.html
 *
 * Contributors:
 *    Konstantin Komissarchik - initial implementation and ongoing maintenance
 *    Ling Hao - [344015] Insertion order lost if xsd includes another xsd
 ******************************************************************************
-->

<plugin>

  <extension point="org.eclipse.wst.xml.core.catalogContributions">
    <catalogContribution>
      <system
        systemId="http://www.eclipse.org/sapphire/tests/xml-binding/1.0"
        uri="schemas/XmlBindingTest.xsd"/>
    </catalogContribution>
    <catalogContribution>
      <system
        systemId="http://www.eclipse.org/sapphire/tests/xml/xsd/0001"
        uri="schemas/xml/xsd/0001a.xsd"/>
    </catalogContribution>
    <catalogContribution>
      <system
        systemId="http://www.eclipse.org/sapphire/tests/xml/xsd/0001/a"
        uri="schemas/xml/xsd/0001a.xsd"/>
    </catalogContribution>
    <catalogContribution>
      <system
        systemId="http://www.eclipse.org/sapphire/tests/xml/xsd/0001/b"
        uri="schemas/xml/xsd/0001b.xsd"/>
    </catalogContribution>
    <catalogContribution>
      <system
        systemId="http://www.eclipse.org/sapphire/tests/xml/xsd/0002"
        uri="schemas/xml/xsd/0002a.xsd"/>
    </catalogContribution>
    <catalogContribution>
      <system
        systemId="http://www.eclipse.org/sapphire/tests/xml/xsd/0002/a"
        uri="schemas/xml/xsd/0002a.xsd"/>
    </catalogContribution>
    <catalogContribution>
      <system
        systemId="http://www.eclipse.org/sapphire/tests/xml/xsd/0002/b"
        uri="schemas/xml/xsd/0002b.xsd"/>
    </catalogContribution>
    <catalogContribution>
      <system
        systemId="http://www.eclipse.org/sapphire/tests/xml/xsd/0003"
        uri="schemas/xml/xsd/0003a.xsd"/>
    </catalogContribution>
    <catalogContribution>
      <system
        systemId="http://www.eclipse.org/sapphire/tests/xml/xsd/0003/a"
        uri="schemas/xml/xsd/0003a.xsd"/>
    </catalogContribution>
    <catalogContribution>
      <system
        systemId="http://www.eclipse.org/sapphire/tests/xml/xsd/0004/shapes"
        uri="schemas/xml/xsd/0004shapes.xsd"/>
    </catalogContribution>
    <catalogContribution>
      <system
        systemId="http://www.eclipse.org/sapphire/tests/xml/xsd/0005/shapes"
        uri="schemas/xml/xsd/0005shapes.xsd"/>
    </catalogContribution>
    <catalogContribution>
      <system
        systemId="http://www.eclipse.org/sapphire/tests/xml/xsd/0004/workbook"
        uri="schemas/xml/xsd/0004workbook.xsd"/>
    </catalogContribution>
    <catalogContribution>
      <system
        systemId="http://www.eclipse.org/sapphire/tests/xml/xsd/0005/workbook"
        uri="schemas/xml/xsd/0005workbook.xsd"/>
    </catalogContribution>
    <catalogContribution>
      <system
        systemId="http://www.eclipse.org/sapphire/tests/xml/xsd/0006"
        uri="schemas/xml/xsd/0006.xsd"/>
    </catalogContribution>
    <catalogContribution>
      <system
        systemId="http://www.eclipse.org/sapphire/tests/xml/xsd/0006/v1"
        uri="schemas/xml/xsd/0006.xsd"/>
    </catalogContribution>
    <catalogContribution>
      <system
        systemId="http://www.eclipse.org/sapphire/tests/xml/binding/0003/u"
        uri="schemas/xml/binding/0003u.xsd"/>
    </catalogContribution>
    <catalogContribution>
      <system
        systemId="http://www.eclipse.org/sapphire/tests/xml/binding/0003/v"
        uri="schemas/xml/binding/0003v.xsd"/>
    </catalogContribution>
    <catalogContribution>
      <system
        systemId="http://www.eclipse.org/sapphire/tests/xml/binding/0003/w"
        uri="schemas/xml/binding/0003w.xsd"/>
    </catalogContribution>
    <catalogContribution>
      <system
        systemId="http://www.eclipse.org/sapphire/tests/xml/binding/0003/x"
        uri="schemas/xml/binding/0003x.xsd"/>
    </catalogContribution>
    <catalogContribution>
      <system
        systemId="http://www.eclipse.org/sapphire/tests/xml/binding/0003/y"
        uri="schemas/xml/binding/0003y.xsd"/>
    </catalogContribution>
    <catalogContribution>
      <system
        systemId="http://www.eclipse.org/sapphire/tests/xml/binding/0003/z"
        uri="schemas/xml/binding/0003z.xsd"/>
    </catalogContribution>
    <catalogContribution>
      <system
        systemId="http://www.eclipse.org/sapphire/tests/xml/binding/0007/x"
        uri="schemas/xml/binding/0007x.xsd"/>
    </catalogContribution>
    <catalogContribution>
      <system
        systemId="http://www.eclipse.org/sapphire/tests/xml/binding/0007/y"
        uri="schemas/xml/binding/0007y.xsd"/>
    </catalogContribution>
    <catalogContribution>
      <system
        systemId="http://www.eclipse.org/sapphire/tests/xml/binding/0011e/1"
        uri="schemas/xml/binding/0011e1.xsd"/>
    </catalogContribution>
    <catalogContribution>
      <system
        systemId="http://www.eclipse.org/sapphire/tests/xml/binding/0011e/2"
        uri="schemas/xml/binding/0011e2.xsd"/>
    </catalogContribution>
    <catalogContribution>
      <system
        systemId="http://www.eclipse.org/sapphire/tests/xml/binding/0011e/3"
        uri="schemas/xml/binding/0011e3.xsd"/>
    </catalogContribution>
    <catalogContribution>
      <system
        systemId="http://www.eclipse.org/sapphire/tests/xml/binding/0011e/4"
        uri="schemas/xml/binding/0011e4.xsd"/>
    </catalogContribution>
    <catalogContribution>
      <system
        systemId="http://www.eclipse.org/sapphire/tests/xml/binding/0011e/5"
        uri="schemas/xml/binding/0011e5.xsd"/>
    </catalogContribution>
    <catalogContribution>
      <system
        systemId="http://www.eclipse.org/sapphire/tests/xml/binding/0011h/1"
        uri="schemas/xml/binding/0011h1.xsd"/>
    </catalogContribution>
    <catalogContribution>
      <system
        systemId="http://www.eclipse.org/sapphire/tests/xml/binding/0011h/2"
        uri="schemas/xml/binding/0011h2.xsd"/>
    </catalogContribution>
    <catalogContribution>
      <system
        systemId="http://www.eclipse.org/sapphire/tests/xml/binding/0011h/3"
        uri="schemas/xml/binding/0011h3.xsd"/>
    </catalogContribution>
    <catalogContribution>
      <system
        systemId="http://www.eclipse.org/sapphire/tests/xml/binding/0011h/4"
        uri="schemas/xml/binding/0011h4.xsd"/>
    </catalogContribution>
    <catalogContribution>
      <system
        systemId="http://www.eclipse.org/sapphire/tests/xml/binding/0011h/5"
        uri="schemas/xml/binding/0011h5.xsd"/>
    </catalogContribution>
    <catalogContribution>
      <system
        systemId="TestXmlDtd0003.dtd"
        uri="schemas/xml/dtd/0003.dtd"/>
    </catalogContribution>
  </extension>

</plugin>
