<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!-- 
 ******************************************************************************
 * Copyright (c) 2014 Oracle
 * All rights reserved. This program and the accompanying materials
 * are made available under the terms of the Eclipse Public License v1.0
 * which accompanies this distribution, and is available at
 * http://www.eclipse.org/legal/epl-v10.html
 *
 * Contributors:
 *    Konstantin Komissarchik - initial implementation and ongoing maintenance
 *    Gregory Amerson - [444202] lazy loading of editor pages
 ******************************************************************************
-->

<plugin>

  <extension point="org.eclipse.ui.editors">
    <editor
      id="org.eclipse.sapphire.sdk.internal.SapphireUiDefEditor"
      name="%saphireUiDefEditor"
      icon="org/eclipse/sapphire/sdk/SapphireFile.png"
      filenames="*.sdef"
      default="true">
      <class class="org.eclipse.sapphire.ui.swt.xml.editor.SapphireEditorForXml">
        <parameter name="sdef" value="org.eclipse.sapphire.sdk.DefinitionEditor"/>
        <parameter name="formPageName" value="Design"/>
      </class>
    </editor>
  </extension>
  
  <extension point="org.eclipse.core.contenttype.contentTypes">
    <content-type
      file-extensions="sdef"
      priority="high"
      name="%sapphireUiDef"
      id="sdef"
      base-type="org.eclipse.core.runtime.xml">
    </content-type>
  </extension>
  
  <extension point="org.eclipse.wst.xml.core.catalogContributions">
    <catalogContribution>
      <system
        systemId="http://www.eclipse.org/sapphire/xmlns/extension"
        uri="schemas/SapphireExtension.xsd"/>
    </catalogContribution>
  </extension>
  
  <extension point="org.eclipse.ui.editors">
    <editor
      id="org.eclipse.sapphire.sdk.internal.ExtensionManifestEditor"
      name="%sapphireExtensionEditorName"
      icon="org/eclipse/sapphire/sdk/SapphireFile.png"
      filenames="sapphire-extension.xml"
      default="true">
      <class class="org.eclipse.sapphire.sdk.internal.ExtensionManifestEditor">
        <parameter name="sdef" value="org.eclipse.sapphire.sdk.internal.ExtensionManifestEditor"/>
        <parameter name="formPageName" value="Design"/>
      </class>
    </editor>
  </extension>
  
  <extension point="org.eclipse.ui.editors.templates">
    <include file="templates/templates.xml" translations="templates/templates.properties" /> 
  </extension>
  
  <extension point="org.eclipse.ui.newWizards">
    <category
      id="Sapphire"
      name="%WizardCategory">
    </category>
    <wizard
      id="org.eclipse.sapphire.sdk.CreateExtensionManifestWizard"
      category="Sapphire"
      name="%CreateExtensionManifestWizard.Name"
      icon="org/eclipse/sapphire/sdk/SapphireCreateFileWizard.png">
      <description>%CreateExtensionManifestWizard.Description</description>
      <class class="org.eclipse.sapphire.workspace.ui.CreateWorkspaceFileWizard">
        <parameter name="sdef" value="org.eclipse.sapphire.sdk.CreateExtensionManifestWizard"/>
        <parameter name="editor" value="org.eclipse.sapphire.sdk.internal.ExtensionManifestEditor"/>
      </class>
    </wizard>
    <wizard
      id="org.eclipse.sapphire.sdk.xml.schema.normalizer.CreateNormalizedXmlSchemaWizard"
      category="Sapphire"
      name="%CreateNormalizedXmlSchemaWizard.Name"
      icon="org/eclipse/sapphire/sdk/XmlSchemaCreateFileWizard.gif">
      <description>%CreateNormalizedXmlSchemaWizard.Description</description>
      <class class="org.eclipse.sapphire.workspace.ui.CreateWorkspaceFileWizard">
        <parameter name="sdef" value="org.eclipse.sapphire.sdk.xml.schema.normalizer.CreateNormalizedXmlSchemaWizard"/>
      </class>
    </wizard>
  </extension>
  
    <extension point="org.eclipse.jdt.debug.javaLogicalStructures">
        <javaLogicalStructure type="org.eclipse.sapphire.Element" subtypes="true" description="Sapphire Element">
            <variable name="type" value="return type().getQualifiedName();"/>
            <variable name="empty" value="return empty();"/>
            <variable name="content" value="return content().toArray();"/>
            <variable name="properties" value="return properties().toArray();"/>
        </javaLogicalStructure>
        <javaLogicalStructure type="org.eclipse.sapphire.Value" subtypes="true" description="Sapphire Value Property">
            <variable name="name" value="return name();"/>
            <variable name="element" value="return definition().getModelElementType().getQualifiedName();"/>
            <variable name="text" value="return text( false );"/>
            <variable name="default" value="return getDefaultText();"/>
            <variable name="empty" value="return empty();"/>
            <variable name="enabled" value="return enabled();"/>
            <variable name="validation" value="return validation().toString();"/>
            <variable name="malformed" value="return malformed();"/>
        </javaLogicalStructure>
        <javaLogicalStructure type="org.eclipse.sapphire.Transient" subtypes="true" description="Sapphire Transient Property">
            <variable name="name" value="return name();"/>
            <variable name="element" value="return definition().getModelElementType().getQualifiedName();"/>
            <variable name="content" value="return content();"/>
            <variable name="empty" value="return empty();"/>
            <variable name="enabled" value="return enabled();"/>
            <variable name="validation" value="return validation().toString();"/>
        </javaLogicalStructure>
        <javaLogicalStructure type="org.eclipse.sapphire.ElementHandle" subtypes="true" description="Sapphire Element Property">
            <variable name="name" value="return name();"/>
            <variable name="element" value="return definition().getModelElementType().getQualifiedName();"/>
            <variable name="content" value="return content();"/>
            <variable name="empty" value="return empty();"/>
            <variable name="enabled" value="return enabled();"/>
            <variable name="validation" value="return validation().toString();"/>
        </javaLogicalStructure>
        <javaLogicalStructure type="org.eclipse.sapphire.ElementList" subtypes="true" description="Sapphire List Property">
            <variable name="name" value="return name();"/>
            <variable name="element" value="return definition().getModelElementType().getQualifiedName();"/>
            <variable name="content" value="return toArray();"/>
            <variable name="empty" value="return empty();"/>
            <variable name="size" value="return size();"/>
            <variable name="enabled" value="return enabled();"/>
            <variable name="validation" value="return validation().toString();"/>
        </javaLogicalStructure>
    </extension>

</plugin>
