<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!-- 
 ******************************************************************************
 * Copyright (c) 2010 Oracle
 * All rights reserved. This program and the accompanying materials
 * are made available under the terms of the Eclipse Public License v1.0
 * which accompanies this distribution, and is available at
 * http://www.eclipse.org/legal/epl-v10.html
 *
 * Contributors:
 *    Konstantin Komissarchik - initial implementation and ongoing maintenance
 ******************************************************************************
-->

<plugin>

  <!-- 
    ********************
    * Extension Points *
    ********************
  -->
  
  <extension-point id="browseHandlers" name="%browseHandlersExtensionPoint" schema="schemas/browseHandlers.exsd"/>
  <extension-point id="jumpHandlers" name="%jumpHandlersExtensionPoint" schema="schemas/jumpHandlers.exsd"/>
  

  <!-- 
    ****************************
    * Browse and Jump Handlers *
    ****************************
  -->
  
  <extension point="org.eclipse.sapphire.ui.browseHandlers">
    <browse-handler factory="org.eclipse.sapphire.ui.assist.internal.AbsoluteFolderPathValueBrowseHandlerFactory"/>
    <browse-handler factory="org.eclipse.sapphire.ui.assist.internal.AbsoluteFilePathValueBrowseHandlerFactory"/>
    <browse-handler factory="org.eclipse.sapphire.ui.assist.internal.RelativePathValueBrowseHandlerFactory"/>
    <browse-handler factory="org.eclipse.sapphire.ui.assist.internal.EclipseWorkspacePathValueBrowseHandlerFactory"/>
    <browse-handler factory="org.eclipse.sapphire.ui.assist.internal.JavaClassValueBrowseHandlerFactory"/>
    <browse-handler factory="org.eclipse.sapphire.ui.assist.internal.PossibleValuesProviderBrowseHandlerFactory"/>
  </extension>
  
  <extension point="org.eclipse.sapphire.ui.jumpHandlers">
    <jump-handler class="org.eclipse.sapphire.ui.assist.internal.RelativePathValueJumpHandler"/>
    <jump-handler class="org.eclipse.sapphire.ui.assist.internal.EclipseWorkspacePathValueJumpHandler"/>
    <jump-handler class="org.eclipse.sapphire.ui.assist.internal.JavaClassValueJumpHandler"/>
    <jump-handler class="org.eclipse.sapphire.ui.assist.internal.UrlValueJumpHandler"/>
  </extension>
  
  
  <!-- 
    ***********************
    * UI Definition Model *
    ***********************
  -->
  
  <extension point="org.eclipse.wst.xml.core.catalogContributions">
    <catalogContribution>
      <system
        systemId="http://xmlns.oracle.com/eclipse/tools/sapphire/ui"
        uri="src/org/eclipse/sapphire/ui/def/Schema.xsd"/>
    </catalogContribution>
  </extension>
  

  <!-- 
    *************************************
    * Commands, Contexts & Key Bindings *
    *************************************
  -->
  
  <extension point="org.eclipse.ui.contexts">
	<context
      id="sapphire.property.editor"
      parentId="org.eclipse.ui.contexts.dialogAndWindow"
      name="%sapphirePropertyEditorContextName"
      description="%sapphirePropertyEditorContextDescription"/>
  </extension>

  <extension point="org.eclipse.ui.contexts">
    <context
      id="sapphire.content.outline"
      parentId="org.eclipse.ui.contexts.window"
      name="%sapphireContentOutlineContextName"
      description="%sapphireContentOutlineContextDescription"/>
  </extension>

  <extension point="org.eclipse.ui.commands">
    <category
      id="sapphire"
      name="%sapphireCommandCategoryName"
      description="%sapphireCommandCategoryDescription"/>
  </extension>
  

  <!-- 
    ******************
    * Browse Command *
    ******************
  -->
  
  <extension point="org.eclipse.ui.commands">
    <command
      id="sapphire.browse"
      categoryId="sapphire"
      name="%browseCommandName"
      description="%browseCommandDescription"/>
  </extension>
  
  <extension point="org.eclipse.ui.bindings">
    <key
      sequence="M1+L"
      contextId="sapphire.property.editor"
      commandId="sapphire.browse"
      schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
  </extension>
  

  <!-- 
    ***************************
    * Show Assistance Command *
    ***************************
  -->
  
  <extension point="org.eclipse.ui.commands">
    <command
      id="sapphire.show.assist"
      categoryId="sapphire"
      name="%showAssistCommandName"
      description="%showAssistCommandDescription"/>
  </extension>

  <extension point="org.eclipse.ui.bindings">
    <key
      sequence="M1+I"
      contextId="sapphire.property.editor"
      commandId="sapphire.show.assist"
      schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
  </extension>
  

  <!-- 
    *************************
    * Jump to Value Command *
    *************************
  -->
  
  <extension point="org.eclipse.ui.commands">
    <command
      id="sapphire.jump"
      categoryId="sapphire"
      name="%jumpCommandName"
      description="%jumpCommandDescription"/>
  </extension>

  <extension point="org.eclipse.ui.bindings">
    <key
      sequence="M1+J"
      contextId="sapphire.property.editor"
      commandId="sapphire.jump"
      schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
  </extension>


  <!-- 
    *******************
    * Move Up Command *
    *******************
  -->
  
  <extension point="org.eclipse.ui.commands">
    <command
      id="sapphire.move.up"
      categoryId="sapphire"
      name="%moveUpCommandName"
      description="%moveUpCommandDescription"/>
  </extension>

  <extension point="org.eclipse.ui.bindings">
    <key
      sequence="M1+ARROW_UP"
      contextId="sapphire.content.outline"
      commandId="sapphire.move.up"
      schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
    <key
      sequence="M1+ARROW_UP"
      contextId="sapphire.property.editor"
      commandId="sapphire.move.up"
      schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
  </extension>


  <!-- 
    *********************
    * Move Down Command *
    *********************
  -->
  
  <extension point="org.eclipse.ui.commands">
    <command
      id="sapphire.move.down"
      categoryId="sapphire"
      name="%moveDownCommandName"
      description="%moveDownCommandDescription"/>
  </extension>

  <extension point="org.eclipse.ui.bindings">
    <key
      sequence="M1+ARROW_DOWN"
      contextId="sapphire.content.outline"
      commandId="sapphire.move.down"
      schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
    <key
      sequence="M1+ARROW_DOWN"
      contextId="sapphire.property.editor"
      commandId="sapphire.move.down"
      schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
  </extension>


  <!-- 
    **************************
    * Show in Source Command *
    **************************
  -->
  
  <extension point="org.eclipse.ui.commands">
    <command
      id="sapphire.show.in.source"
      categoryId="sapphire"
      name="%showInSourceCommandName"
      description="%showInSourceCommandDescription"/>
  </extension>


  <!-- 
    ***********
    * Builder *
    ***********
  -->
  
  <extension id="builder" name="%builderName" point="org.eclipse.core.resources.builders"> 
    <builder hasNature="false"> 
      <run class="org.eclipse.sapphire.ui.build.internal.StringResourcesExtractorBuilder"/> 
    </builder> 
  </extension> 
  
</plugin>
