<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!-- 
 ******************************************************************************
 * Copyright (c) 2012 Oracle
 * All rights reserved. This program and the accompanying materials
 * are made available under the terms of the Eclipse Public License v1.0
 * which accompanies this distribution, and is available at
 * http://www.eclipse.org/legal/epl-v10.html
 *
 * Contributors:
 *    Shenxue Zhou - initial implementation and ongoing maintenance
 ******************************************************************************
-->

<plugin>

   <extension point="org.eclipse.graphiti.ui.diagramTypes">
      <diagramType
            description="%sapphireDiagramTypeDescription"
            id="org.eclipse.sapphire.ui.SapphireDiagramType"
            name="%sapphireDiagramTypeName"
            type="sapphireDiagram">
      </diagramType>
   </extension>
   
   <extension point="org.eclipse.graphiti.ui.diagramTypeProviders">
      <diagramTypeProvider
            class="org.eclipse.sapphire.ui.swt.graphiti.providers.SapphireDiagramTypeProvider"
            description="%sapphireDiagramTypeProviderDescription"
            id="org.eclipse.sapphire.ui.sapphireDiagramTypeProvider"
            name="%sapphireDiagramTypeProviderName">
         <diagramType id="org.eclipse.sapphire.ui.SapphireDiagramType"/>
         <imageProvider id="org.eclipse.sapphire.diagram.graphiti.SapphireDiagramImageProvider"/>
         <imageProvider id="org.eclipse.sapphire.diagram.graphiti.SapphireDiagramCommonImageProvider"/>
      </diagramTypeProvider>
   </extension>
     
   <extension
         point="org.eclipse.graphiti.ui.imageProviders">
      <imageProvider
            class="org.eclipse.sapphire.ui.swt.graphiti.providers.SapphireDiagramImageProvider"
            id="org.eclipse.sapphire.diagram.graphiti.SapphireDiagramImageProvider">
      </imageProvider>
   </extension>
   <extension
         point="org.eclipse.graphiti.ui.imageProviders">
      <imageProvider
            class="org.eclipse.sapphire.ui.swt.graphiti.providers.SapphireDiagramCommonImageProvider"
            id="org.eclipse.sapphire.diagram.graphiti.SapphireDiagramCommonImageProvider">
      </imageProvider>
   </extension>
     
</plugin>
