<?xml version="1.0" encoding="UTF-8"?>

<!-- 
 ******************************************************************************
 * Copyright (c) 2010 Oracle
 * All rights reserved. This program and the accompanying materials
 * are made available under the terms of the Eclipse Public License v1.0
 * which accompanies this distribution, and is available at
 * http://www.eclipse.org/legal/epl-v10.html
 *
 * Contributors:
 *    Konstantin Komissarchik - initial implementation and ongoing maintenance
 ******************************************************************************
-->

<plugin>

  <!-- 
    *******************
    * Contacts Sample *
    *******************
  -->
  
  <extension point="org.eclipse.wst.xml.core.catalogContributions">
    <catalogContribution>
      <system
        systemId="http://xmlns.oracle.com/eclipse/tools/sapphire/samples/address/1.0"
        uri="schemas/Address.xsd"/>
      <system
        systemId="http://xmlns.oracle.com/eclipse/tools/sapphire/samples/contacts/1.0"
        uri="schemas/Contacts.xsd"/>
    </catalogContribution>
  </extension>

  <extension point="org.eclipse.ui.editors">
    <editor
      class="org.eclipse.sapphire.samples.contacts.ui.ContactsDatabaseEditor"
      default="true"
      filenames="contacts.xml"
      id="org.eclipse.sapphire.samples.contacts.ui.ContactsDatabaseEditor"
      name="Contacts Database Editor"/>
  </extension>
  
  <!-- 
    *******************
    * Calendar Sample *
    *******************
  -->
  
  <extension point="org.eclipse.wst.xml.core.catalogContributions">
    <catalogContribution>
      <system
        systemId="http://xmlns.oracle.com/eclipse/tools/sapphire/samples/calendar/1.0"
        uri="schemas/Calendar.xsd"/>
    </catalogContribution>
  </extension>

  <extension point="org.eclipse.ui.editors">
    <editor
      class="org.eclipse.sapphire.samples.calendar.ui.CalendarEditor"
      default="true"
      filenames="calendar.xml"
      id="org.eclipse.sapphire.samples.calendar.ui.CalendarEditor"
      name="Calendar Editor"/>
  </extension>


  <!-- 
    ******************
    * Gallery Sample *
    ******************
  -->
  
  <extension point="org.eclipse.ui.editors">
    <editor
      class="org.eclipse.sapphire.samples.gallery.ui.SapphireGallerySampleEditor"
      default="true"
      filenames="sapphire-gallery.xml"
      id="org.eclipse.sapphire.samples.gallery.ui.SapphireGallerySampleEditor"
      name="Sapphire Gallery Sample Editor"/>
  </extension>


  <!-- 
    ****************
    * EzBug Sample *
    ****************
  -->
  
  <extension point="org.eclipse.ui.commands">
    <command
      id="org.eclipse.sapphire.samples.fileBugReport1"
      name="File Bug Report (Dialog)"
      defaultHandler="org.eclipse.sapphire.samples.ezbug.ui.FileBugReportHandler1"/>
    <command
      id="org.eclipse.sapphire.samples.fileBugReport2"
      name="File Bug Report (Form Style Dialog)"
      defaultHandler="org.eclipse.sapphire.samples.ezbug.ui.FileBugReportHandler2"/>
    <command
      id="org.eclipse.sapphire.samples.fileBugReport3"
      name="File Bug Report (Wizard)"
      defaultHandler="org.eclipse.sapphire.samples.ezbug.ui.FileBugReportHandler3"/>
    <command
      id="org.eclipse.sapphire.samples.fileBugReport4"
      name="File Bug Report (View)"
      defaultHandler="org.eclipse.sapphire.samples.ezbug.ui.FileBugReportHandler4"/>
  </extension>
  
  <extension point="org.eclipse.ui.menus">
    <menuContribution locationURI="menu:org.eclipse.ui.main.menu">
      <menu label="Sapphire Samples">
        <menu label="EzBug">
          <command
            commandId="org.eclipse.sapphire.samples.fileBugReport1"
            label="File Bug Report (Dialog)..."
            style="push"/>
          <command
            commandId="org.eclipse.sapphire.samples.fileBugReport2"
            label="File Bug Report (Form Style Dialog)..."
            style="push"/>
          <command
            commandId="org.eclipse.sapphire.samples.fileBugReport3"
            label="File Bug Report (Wizard)..."
            style="push"/>
          <command
            commandId="org.eclipse.sapphire.samples.fileBugReport4"
            label="File Bug Report (View)..."
            style="push"/>
        </menu>
      </menu>
    </menuContribution>
  </extension>
  
  <extension point="org.eclipse.ui.views">
    <view 
      id="org.eclipse.sapphire.samples.fileBugReportView" 
      name="File Bug Report (Sapphire Sample)"
      class="org.eclipse.sapphire.samples.ezbug.ui.FileBugReportView"/>
  </extension>
  
  <extension point="org.eclipse.ui.editors">
    <editor
      class="org.eclipse.sapphire.samples.ezbug.ui.BugDatabaseEditor"
      default="true"
      filenames="bugs.xml"
      id="org.eclipse.sapphire.samples.ezbug.ui.BugDatabaseEditor"
      name="Bug Database Editor (Sapphire Sample)"/>
  </extension>
  
</plugin>
